{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300&display=swap" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    {% block head %}
    {% endblock %}
    {% block title %}
    <title>Landing Page</title>
    {% endblock %}
  </head>
  <body>
      <nav class="navbar navbar-expand-sm bg-1 sticky-top">
        <!-- Brand -->
        <a class="navbar-brand" href="{% url 'home_view' %}">Centr<i class="fas fa-mug-hot" style="color:black"></i>lPerk</a>
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar" data-target="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
                <!-- Dropdown --> 
                <li class="nav-item">
                    <form method="POST" id="search">
                      {% csrf_token %}
                        <input type="text" class="textbox" placeholder="Search for friends...">
                        <input title="Search" value="&#x1F50E" type="submit" class="button">
                    </form>
                </li>
          </ul>
          <ul class="navbar-nav ml-auto">    
            <li class="nav-item">
              <a class="nav-link" href="{% url 'view_profile' user.username %}">{{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_logout' %}">Log Out</a>
            </li> 
          </ul>
        </div>
      </nav>
    <div class="container-fluid">
      <br/><br/><br/>
      {% block body %}
      <div class="d-flex flex-items-container justify-content-center">
        <div class="post-container">
          {% for post in posts %}
              <div class="card post-card index-post-card">
                <div class="card-header">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="mr-2">
                        <img src="/media/{{ post.user__profile_pic }}" class="rounded-circle post-profile-img">
                      </div>
                      <div class="ml-2">
                        <div class="h5 m-0 body">
                          <a class="body_link" href="{% url 'view_profile' post.user__username %}">{{ post.user__username }}</a>
                        </div>
                        {% if post.location %}
                          <h6>{{ post.location }}</h6>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                {% if post.status_caption and not post.pic %}
                  <div class="card-body text-align-left display-3 index-post-card-body" id="status_caption-container"> 
                    {{ post.status_caption|json_script:"post-data" }}
                    <a href="{% url 'view_post' post.post_id %}" hidden=true>Read More..</a>
                  </div>
                {% elif post.status_caption and post.pic %}
                  <div class="card-body index-img-post-card-body">
                    <img src="/media/{{ post.pic }}" class="post-card-body-img">
                  </div>
                {% else %}
                  <div class="card-body index-img-post-card-body">
                    <img src="/media/{{ post.pic }}" class="post-card-body-img">
                  </div>
                {% endif %}

                <div class="card-footer">
                  <div class="upper-row">
                    <a href="{% url 'post_like_home' post.post_id %}" style="float:left"><i class="fas fa-fire-alt"></i></a>
                    <span class="likes-counter">{{ post.likes_count }}</span>
                    <a href="{% url 'view_post' post.post_id %}"><i class="fas fa-comment-alt"></i></a>
                    <span class="comment-counter">{{ post.comment_count }}</span>
                    <span class="post-date-time">{{ post.date_time|timesince }} ago</span>
                  </div>
                  <div class="lower-row">
                    {% if post.status_caption and post.pic %}
                    <div class="text-align-left display-3 index-post-card-body" id="status_caption-container">
                      {{ post.status_caption|json_script:"post-data" }}
                      <a href="{% url 'view_post' post.post_id %}" hidden="true">Read More..</a>
                    </div>
                    {% endif %}
                    <form method="POST" style="margin-top: 8px">
                      {% csrf_token %}
                      <input type="hidden" name="post_id" value="{{ post.post_id }}">
                      <textarea type="text" class="form-control comment-input" id="comment" name="comment" placeholder="Post a comment"></textarea>
                      <button type="submit" class="btn btn-dark comment-send-btn"><i class="material-icons cmmnt-send-ico">send</i></button>
                    </form>
                  </div>
                </div>
              </div>
              <br>
            {% endfor %}
        </div>
        <div class="sidebar-container">
          <div class="options-block" id="options">
            <button class="btn btn-dark options-link notif-btn" data-toggle="modal" data-target="#notification">
              <i class="fas fa-bell"></i>
            </button>
            <div class="modal fade" id="notification" tabindex="-1" role="dialog" aria-labelledby="notification-title" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title headline">Notifications</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </a>
                  </div>
                  <!-- Notification body -->
                  <div class="modal-body">
                    {% if notifications %}
                    {% for notification in notifications %}
                      <div class="card notification">
                        <div class="card-body notify-body">
                          <div class="d-flex">
                            <div class="mr-1">
                              <img src="/media/{{ notification.poked_by__profile_pic }}" class="notify-pic-rounded"/>
                            </div>
                            {% if notification.reaction == 'Liked' %}
                            <div class="ml-2">
                              <div class="m-0">
                                <a href="{% url 'view_profile' notification.poked_by %}">
                                {{ notification.poked_by }}
                                </a> Liked your status.
                              </div>
                              <h4 class="notify-date-time">{{ notification.date_time|timesince }} ago</h4>
                            </div>
                            {% elif notification.reaction == 'Sent Follow Request' %}
                            <div class="ml-2">
                              <div class="m-0">
                                <a href="{% url 'view_profile' notification.poked_by %}">
                                {{ notification.poked_by }}
                                </a> started to follow you.
                              </div>
                              <h4 class="notify-date-time">{{ notification.date_time|timesince }} ago</h4>
                            </div>
                            {% elif notification.reaction == 'Commented' %}
                            <div class="ml-2">
                              <div class="m-0">
                                <a href="{% url 'view_profile' notification.poked_by %}">
                                {{ notification.poked_by }}
                                </a> commented on your post.
                              </div>
                              <h4 class="notify-date-time">{{ notification.date_time|timesince }} ago</h4>
                            </div>
                            {% elif notification.reaction == 'Replied' %}
                            <div class="ml-2">
                              <div class="m-0">
                                <a href="{% url 'view_profile' notification.poked_by %}">
                                {{ notification.poked_by }}
                                </a> replied to your comment.
                              </div>
                              <h4 class="notify-date-time">{{ notification.date_time|timesince }} ago</h4>
                            </div>
                            {% else %}
                            <div class="empty-notif">
                              <div class="empty-notif-ghost"><i class="fas fa-ghost"></i></div>
                              <h5 style="position: relative; left: 2px;">No Notifications</h5>
                            </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    <br/>
                    {% endfor %}
                    {% else %}
                    <div class="empty-notif">
                      <div class="empty-notif-ghost"><i class="fas fa-ghost"></i></div>
                      <h5 style="position: relative; left: 2px;">No Notifications</h5>
                    </div>
                    {% endif %}
                  </div>
                  <div class="modal-footer">
                    <a href="{% url 'clear_notifications' %}" class="clear-notify"><i class="far fa-trash-alt"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-dark options-link upload-btn" data-toggle="modal" data-target="#upload">
              <i class="fas fa-plus"></i>
            </button>
            <div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="upload-title" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title headline">Upload</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </a>
                  </div>
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body upload-modal-body">
                      <ul class="nav nav-pills mb-3" id="cardtab" role="tablist">
                        <li class="nav-item px-1">
                          <a class="nav-link link active" id="status-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status" aria-selected="true">
                            <i class="material-icons status-tab-ico">notes</i>
                          </a>
                        </li>
                        <li class="nav-item px-1">
                          <a class="nav-link link" id="image-tab" data-toggle="tab" href="#image" role="tab" aria-controls="image" aria-selected="true">
                            <i class="material-icons image-tab-ico">insert_photo</i>
                          </a>
                        </li>
                        <li class="nav-item px-1">
                          <a class="nav-link link" id="location-tab" data-toggle="tab" href="#location" role="tab" aria-controls="location" aria-selected="true">
                            <i class="material-icons location-tab-ico">place</i>
                          </a>
                        </li>
                      </ul>
                      <div class="tab-content" id="cardtabContent">
                        <div class="tab-pane fade show active" id="status" role="tabpanel" aria-labelledby="status-tab">
                          <div class="form-group">
                            <label class="sr-only" for="message">post</label>
                              <textarea class="form-control form-alignment status" id="status_caption" name="status_caption" placeholder="What's your status?"></textarea>
                          </div>
                        </div> 
                        <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-tab">
                          <div class="form-group">
                            <input type="file" id="real-file" name="pic" hidden/>
                            <input type="button" class="form-control post-img" id="img-btn-custom" value="No files selected" readonly/>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="location" role="tabpanel" aria-labelledby="location-tab">
                          <div class="form-group">
                            <input type="text" class="form-control location" id="location" name="location" placeholder="Where are you now?">
                          </div>
                        </div>
                      </div>
                    </div>
                  <div class="modal-footer">
                    <div class="btn-group">
                      <button class="post-btn btn btn-dark" type="submit">Post</button>
                    </div>
                  </div>
                  </form>
                </div>
              </div>
            </div>
            <button class="btn btn-dark options-link online-users-btn" data-toggle="modal" data-target="#online-users">
              <i class="fas fa-user-alt"></i>
            </button>
            <div class="modal fade" id="online-users" tabindex="-1" role="dialog" aria-labelledby="online-users-title" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title headline">Friends</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </a>
                  </div>
                  <div class="modal-body" style="padding: 0rem 1rem 1rem 1rem;">
                    <ul class="nav nav-pills mb-3" id="cardtab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link link active" id="online-tab" data-toggle="tab" href="#online" role="tab" aria-controls="online-usr">
                          <h4>Online</h4>
                        </a>
                      </li>
                      <li class="nav-item px-1">
                        <a class="nav-link link" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers">
                          <h4>Followers</h4>
                        </a>
                      </li>
                      <li class="nav-item px-1">
                        <a class="nav-link link" id="following-tab" data-toggle="tab" href="#following" role="tab" aria-controls="following">
                          <h4>Following</h4>
                        </a>
                      </li>
                    </ul>
                    <div class="tab-content" id="cardtabContent">
                      <div class="tab-pane fade show active" id="online" role="tabpanel" aria-labelledby="online-tab">
                        {% if online_users %}
                          {% for user in online_users %}
                            <a href="{% url 'view_profile' user.username %}">
                              <img src="/media/{{ user.profile_pic }}" class="notify-pic-rounded"/>
                              {{ user.username }}
                            </a>
                            <i class="material-icons online-green-ico">lens</i>
                            <br/>
                          {% endfor %}
                        {% endif %}
                      </div>
                      <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
                        {% if followers %}
                          {% for user in followers %}
                            <a href="{% url 'view_profile' user.username %}">
                              <img src="/media/{{ user.profile_pic }}" class="notify-pic-rounded"/>
                              {{ user.username }}
                            </a>
                            
                            <br/>
                          {% endfor %}
                        {% endif %}
                      </div>
                      <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="following-tab">
                        {% if following %}
                          {% for user in following %}
                            <a href="{% url 'view_profile' user.username %}">
                              <img src="/media/{{ user.profile_pic }}" class="notify-pic-rounded"/>
                              {{ user.username }}
                            </a>
                            
                            <br/>
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/><br/>
          <div class="stories-block">
            <h5 class="story-headline">Stories</h5>
            <div class="border story-border"></div>
            <br/>
          </div>
        </div>
      </div>
      {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block script %}
    <script src="{% static 'js/index.js' %}"></script>
    {% endblock %}
  </body>
</html>