{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'login/img/favicon.png' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barriecito&amp;display=swap" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    {% block head %}
    {% endblock %}
    {% block title %}
    <title>Landing Page</title>
    {% endblock %}
  </head>
  <body>
    <div id="centralperk-navbar">
        <nav class="navbar navbar-expand-sm bg-1 sticky-top" id="navbar">
          <!-- Brand -->
          <a class="navbar-brand" id="logo" href="{% url 'home_view' %}">
            <img src="{% static 'login/img/favicon.png' %}" id="brand-ico" class="cp"/>
            <span id="brand-name"> | CentralPerk</span>
          </a>
        
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <!-- dropdown -->
          <div class="collapse navbar-collapse" id="collapsibleNavbar" data-target="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">    
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navdrop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="/media/{{ user.profile_pic }}" class="rounded-circle navbar-profile-pic"/> 
                  <h5 class="nav-username">{{user.username }}</h5>
                  <i class="fas fa-chevron-right"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="navdrop">
                  <a class="dropdown-item drop-nav-username" href="{% url 'view_profile' user.username %}">{{ user.username }}</a>
                  <a class="dropdown-item" href="{% url 'user_logout' %}">Log Out</a>
                </div>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    <div class="container-fluid">
      <br/><br/><br/>
      {% block indicator %}
      <div id="update-posts" style="cursor: pointer">
        <div class='indicator notif-active'>
          <div class='alert alert-success' id='success-msg' role='alert'>
              New Posts
              <svg class='lnr lnr-redo'><use xlink:href='#lnr-redo'></use></svg>
          </div>
        </div>
      </div>
      {% endblock %}
      {% block body %}
      {% if messages %}
        {% for message in messages %}
          <div class="indicator notif-active">
          {% if message.tags == 'success' %}
            <div class="alert alert-success" id="success-msg" role="alert">
              {{ message }}
          {% else %}
            <div class="alert alert-error" id="error-msg" role="alert">
              {{ message }}
          {% endif %}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      <div class="d-flex flex-items-container justify-content-center">
        <div class="post-container">
          {% include "wall.html" %}
        </div>
        <div class="sidebar-container">
          <div class="options-block" id="options">
            <div class="notif-block">
              <button class="btn btn-dark options-link notif-btn" data-toggle="modal" data-target="#notification">
                <i class="fas fa-bell"></i>
              </button>
              <div class="new-notif-indicator"></div>
            </div>
            <div class="modal fade" id="notification" tabindex="-1" role="dialog" aria-labelledby="notification-title" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title headline">Notifications</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </a>
                  </div>
                  <!-- Notification body -->
                  <div class="modal-body">
                    <div class="notif-wrapper">
                      {% include "notifications.html" %}
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a href="#" class="clear-notify"><i class="far fa-trash-alt"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-dark options-link upload-btn" data-toggle="modal" data-target="#upload">
              <i class="fas fa-plus"></i>
            </button>
            <div class="modal fade" id="upload" tabindex="-1" role="dialog" aria-labelledby="upload-title" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title headline">Upload</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </a>
                  </div>
                  <form method="POST" enctype="multipart/form-data" autocomplete="off">
                    {% csrf_token %}
                    <div class="modal-body nav-pills-modal-body">
                      <ul class="nav nav-pills mb-3" id="cardtab" role="tablist">
                        <li class="nav-item px-1">
                          <a class="nav-link link active" id="status-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status" aria-selected="true">
                            <i class="material-icons status-tab-ico">notes</i>
                          </a>
                        </li>
                        <li class="nav-item px-1">
                          <a class="nav-link link" id="image-tab" data-toggle="tab" href="#image" role="tab" aria-controls="image" aria-selected="true">
                            <i class="material-icons image-tab-ico">insert_photo</i>
                          </a>
                        </li>
                        <li class="nav-item px-1">
                          <a class="nav-link link" id="location-tab" data-toggle="tab" href="#location" role="tab" aria-controls="location" aria-selected="true">
                            <i class="material-icons location-tab-ico">place</i>
                          </a>
                        </li>
                      </ul>
                      <div class="tab-content" id="cardtabContent">
                        <div class="tab-pane fade show active" id="status" role="tabpanel" aria-labelledby="status-tab">
                          <div class="form-group">
                            <label class="sr-only" for="message">post</label>
                              <textarea class="form-control form-alignment status" id="status_caption" name="status_caption" placeholder="What's your status?" style="height: 300px;"></textarea>
                          </div>
                        </div> 
                        <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-tab">
                          <input type="file" id="real-file" name="pic" accept="image/x-png,image/gif,image/jpeg" hidden/>
                          <div class="preview-img-container" id="img-preview-custom">
                            <a href="#" id="img-btn-custom">
                              <i class="fas fa-camera-retro"></i> 
                              Add Pictures
                            </a>
                            <img src="#" id="preview-img"/>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="location" role="tabpanel" aria-labelledby="location-tab">
                          <div class="form-group">
                            <input type="text" class="form-control location" id="location" name="location" placeholder="Where are you now?">
                          </div>
                        </div>
                      </div>
                    </div>
                  <div class="modal-footer">
                    <div class="btn-group">
                      <button class="post-btn btn btn-dark" type="submit">Post</button>
                    </div>
                  </div>
                  </form>
                </div>
              </div>
            </div>
            <button class="btn btn-dark options-link online-users-btn" data-toggle="modal" data-target="#online-users">
              <i class="fas fa-user-alt"></i>
            </button>
            <div class="modal fade" id="online-users" tabindex="-1" role="dialog" aria-labelledby="online-users-title" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title headline">Friends</h5>
                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </a>
                  </div>
                  <div class="modal-body" style="padding: 0rem 1rem 1rem 1rem;">
                    <ul class="nav nav-pills mb-3" id="cardtab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link link active" id="online-tab" data-toggle="tab" href="#online" role="tab" aria-controls="online-usr">
                          <h4>Online</h4>
                        </a>
                      </li>
                      <li class="nav-item px-1">
                        <a class="nav-link link" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers">
                          <h4>Followers</h4>
                        </a>
                      </li>
                      <li class="nav-item px-1">
                        <a class="nav-link link" id="following-tab" data-toggle="tab" href="#following" role="tab" aria-controls="following">
                          <h4>Following</h4>
                        </a>
                      </li>
                    </ul>
                    <div class="tab-content" id="cardtabContent">
                      <div class="tab-pane fade show active" id="online" role="tabpanel" aria-labelledby="online-tab">
                        <div class="online-wrapper">
                          {% include "u-online.html" %}
                        </div>
                      </div>
                      <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="followers-tab">
                        <div class="followers-wrapper">
                          {% include "u-followers.html" %}
                        </div>
                      </div>
                      <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="following-tab">
                        <div class="following-wrapper">
                          {% include "u-following.html" %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-dark options-link search-btn" data-toggle="modal" data-target="#search-users">
              <i class="fas fa-search"></i>
            </button>
            <div class="modal fade" id="search-users" tabindex="-1" role="dialog" aria-labelledby="search-title" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title headline">
                      <input class="search-bar" type="text" id="search" name="search" placeholder="Search" autocomplete="off">
                    </h5>
                  </div>
                  <div class="modal-body">
                    <div class="wrap-search-res">
                        {% include "search.html" %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br/><br/>
          <div class="stories-block">
            <h4 class="story-headline">Stories</h4>
            <div class="border story-border"></div>
            <br/>
          </div>
        </div>
      </div>
      {% endblock %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    {% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
    <script src="{% static 'js/socket.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    {% endblock %}
  </body>
</html>