{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300&display=swap" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
    {% block title %}
    <title>Landing Page</title>
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-1 sticky-top">
        <!-- Brand -->
        <a class="navbar-brand" href="{% url 'home_view' %}">Centr<i class="fas fa-mug-hot" style="color:black"></i>lPerk</a>
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar" data-target="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
                <!-- Dropdown --> 
                <li class="nav-item">
                    <form method="POST" id="search">
                      {% csrf_token %}
                        <input type="text" class="textbox" placeholder="Search for friends...">
                        <input title="Search" value="&#x1F50E" type="submit" class="button">
                    </form>
                </li>
          </ul>
          <ul class="navbar-nav ml-auto">    
            <li class="nav-item">
              <a class="nav-link" href="{% url 'view_profile' user.username %}">{{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_logout' %}">Log Out</a>
            </li> 
          </ul>
        </div>
    </nav>

    <br><br>
    <div class="container-fluid">
      <div class="row">
      {% block body %}
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="card">
              <div class="card-header">
                <ul class="nav nav-pills mb-3" id="cardtab" role="tablist">
                  <li class="nav-item px-1">
                    <a class="nav-link link active body" id="status-tab" data-toggle="tab" href="#status" role="tab" aria-controls="status" aria-selected="true" style="height: 41px;">
                        <i class="material-icons">notes</i>
                    </a>
                  </li>
                  <li class="nav-item px-1">
                    <a class="nav-link link body" id="image-tab" data-toggle="tab" href="#image" role="tab" aria-controls="image" aria-selected="true" style="height: 41px;">
                      <i class="material-icons">insert_photo</i>
                    </a>
                  </li>
                  <li class="nav-item px-1">
                    <a class="nav-link link body" id="location-tab" data-toggle="tab" href="#location" role="tab" aria-controls="location" aria-selected="true" style="height: 41px;">
                      <i class="material-icons">place</i>
                    </a>
                  </li>
                </ul>
              </div>
              <form method="POST">
                {% csrf_token %}
                <div class="card-body">
                  <div class="tab-content" id="cardtabContent">
                    <div class="tab-pane fade show active" id="status" role="tabpanel" aria-labelledby="status-tab">
                      <div class="form-group">
                        <label class="sr-only" for="message">post</label>
                        <textarea class="form-control form-alignment status" id="status" name="status"  placeholder="What are you thinking?" style="height:96px"></textarea>
                      </div>
                    </div> 
                    <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-tab">
                    </div>
                    <div class="tab-pane fade" id="location" role="tabpanel" aria-labelledby="location-tab">
                      <div class="form-group">
                        <input type="text" class="form-control location" id="location" name="location" placeholder="Where are you now?">
                      </div>
                    </div> 
                  </div>
                </div>
                <br>
                <div class="card-footer">
                  <div class="btn-toolbar justify-content-between">
                    <div class="btn-group">
                      <button class="btn btn-dark body" type="submit">Post</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
        </div>
        <div class="col-lg-4"></div>
      </div>
      <br><br>
      
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <h3 class="display-2" style="font-size: 2rem">Posts<h3>
          <div class="border index_border"></div>
          <br>
          {% for post in posts %}
            <div class="card post-card">
                <div class="card-header">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="mr-2">
                        <img src="/media/{{ post.user__profile_pic }}" class="rounded-circle post_profile_img">
                      </div>
                      <div class="ml-2">
                        <div class="h5 m-0 body">
                          <a class="body_link" href="{% url 'view_profile' post.user__username %}">{{ post.user__username }}</a>
                        </div>
                        {% if post.location %}
                          <h6>{{ post.location }}</h6>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body text-align-left display-3 index-post-card-body" id="post-container"> 
                    {{ post.status|json_script:"post-data" }}
                </div>
                <div class="card-footer">
                  <a href="{% url 'post_like' post.post_id %}" style="float:left"><i class="fas fa-fire-alt"></i></a>
                  <span class="likes-counter">{{ post.likes_count }}</span>
                  <span class="post-date-time">{{ post.date_time }}</span>    
              </div>
            </div>
            <br>
          {% endfor %}
        </div>
        <div class="col-lg-3">
      {% endblock %}
      </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/index.js' %}"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>