<div class="card p-chat-upper-card">
    <div class="card-body p-chat-upper-card-body">
        <div class="d-flex">
            <div class="mr-1">
                {% if friend.user_a == user %}
                    <img src="{{ friend.user_b.profile_pic.url }}" alt="{{ friend.user_b.username}}-prof-pic" class="notify-pic-rounded"/>
                {% else %}
                    <img src="{{ friend.user_a.profile_pic.url }}" alt="{{ friend.user_b.username}}-prof-pic" class="notify-pic-rounded"/>
                {% endif %}
            </div>
            <div class="ml-2 ml-2-align">
                <div class="m-0">
                    {% if friend.user_a == user %}
                        <a href="{% url 'view_profile' friend.user_b.username %}">{{ friend.user_b.username }}</a>
                        <div class="user-b-activity" id="{{ unique_id }}">
                            {% if friend.user_b.active == True %}
                                <i class="material-icons online-green-ico">lens</i>
                            {% elif activity_status %}
                                <h5 class="p-chat-last-login">{{ friend.user_b.last_login|timesince }} ago</h5>
                            {% else %}
                                <h5>inactive</h5>
                            {% endif %}
                        </div>
                    {% else %}
                        <a href="{% url 'view_profile' friend.user_a.username %}">{{ friend.user_a.username }}</a>
                        <div class="user-a-activity" id="{{ unique_id }}">
                            {% if friend.user_a.active == True %}
                                <i class="material-icons online-green-ico">lens</i>
                            {% elif activity_status %}
                                <h5 class="p-chat-last-login">{{ friend.user_a.last_login|timesince }} ago</h5>
                            {% else %}
                                <h5 class="p-chat-last-login">inactive</h5>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <a class="p-chat-cover-b-link" href="#back"><i class="fas fa-chevron-left"></i></a>
        </div>
    </div>
</div>
<div class="modal-body p-chat-modal-body">
</div>

<textarea type="text" class="form-control p-chat-txtbox" id="send_txt" name="convo" aria-label="send text" placeholder="Type something" style="height: 42px;"></textarea>
<button type="button" class="btn btn-dark p-chat-snd-btn"><i class="material-icons cmmnt-send-ico">send</i></button>