{% if following %}
    {% for user in following %}
        <div class="d-flex justify-content-between align-items-center">
        <div class="mr-0">
            <img src="{{ user.profile_pic.url }}" class="rounded-circle post-profile-img">
        </div>
        <div class="ml-2">
            <div class="h5 m-0 body">
                <a class="body_link" href="{% url 'view_profile' user.username %}">{{ user.username }}</a>
            </div>
            <h6>{{ user.full_name }}</h6>
        </div>
        {% if user.active == True %}
            <i class="material-icons online-green-ico">lens</i>
        {% else %}
            <h6 class="last_login_date_time">{{ user.last_login|timesince }} ago</h6>
        {% endif %}
    </div>
    {% endfor %}
{% else %}
    <div class="empty-notif">
        <div class="empty-notif-ghost"><i class="fas fa-ghost"></i></div>
        <h5 style="position: relative; left: 2px;">No following</h5>
    </div>
{% endif %}