{% if following %}
    {% for user in following %}
        <div class="following-user">
            <a href="{% url 'view_profile' user.username %}">
                <img src="/media/{{ user.profile_pic }}" class="notify-pic-rounded user-pic-margin"/>
                {{ user.username }}
            </a>
            {% if user.active == 'True' %}
            <i class="material-icons online-green-ico">lens</i>
            {% else %}
                <h6 class="last_login_date_time">{{ user.last_login|timesince }} ago</h6>
            {% endif %}
        </div>
        <br/>
    {% endfor %}
{% else %}
    <div class="empty-notif">
        <div class="empty-notif-ghost"><i class="fas fa-ghost"></i></div>
        <h5 style="position: relative; left: 2px;">No following</h5>
    </div>
{% endif %}