{% if online_users %}
    {% for user in online_users %}
    <div class="d-flex justify-content-between align-items-center">
        <div class="mr-0">
            <img src="/media/{{ user.profile_pic }}" class="rounded-circle post-profile-img">
        </div>
        <div class="ml-2">
            <div class="h5 m-0 body">
                <a class="body_link" href="{% url 'view_profile' user.username %}">{{ user.username }}</a>
            </div>
            <h6>{{ user.full_name }}</h6>
        </div>
        <i class="material-icons online-green-ico">lens</i>
    </div>
    {% endfor %}
{% else %}
    <div class="empty-notif">
        <div class="empty-notif-ghost"><i class="fas fa-ghost"></i></div>
        <h5 style="position: relative; left: 2px;">No one's online</h5>
    </div>
{% endif %}