{% if comments %}
    {% for comment in comments %}
    {% if forloop.counter == 1 %}
        <div class="d-flex" style="margin-top: 5px;">
    {% else %}
        <div class="d-flex" style="margin-top: 8px;">
    {% endif %}
            <div class="mr-1">
                <img src="{{ comment.profile_pic }}" class="rounded-circle post-profile-img">
            </div>
            <div class="ml-2">
                <div class="m-0">
                    <a href="{% url 'view_profile' comment.username %}" class="comment-username">
                        {{ comment.username }}
                    </a> :  <h6 class="comment-date-time">{{ comment.date_time|timesince }} ago</h6>
                </div>
                <div class="comment-content">
                    {{ comment.comment }}
                </div>
                <a href="#" class="comment-reply" id="{{ comment.comment_id }}">
                    <i class="fas fa-reply"></i>
                </a>
                {% if editable or canDelete %}
                    <a href="#" class="comment-dlt" id="{{ comment.comment_id }}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                {% endif %}
                {% if comment.reply %}
                    <a href="#" class="comment-rep-collapse" id="c-replies-collapse" data-toggle="collapse" data-target="#collapse-r-{{ comment.comment_id }}" aria-expanded="false" aria-controls="collapse-r-{{ comment.comment_id }}">
                        show replies <i class="fa fa-angle-down"></i>
                    </a>
                {% endif %}
            </div>
        </div>
        {% if comment.reply %}
            <div class="collapse" id="collapse-r-{{ comment.comment_id }}">
                <div class="card card-body comment-rep-card-body">
                    {% for reply in comment.reply %}
                        <div class="d-flex">
                            <div class="mr-1 comment-reply-margin">
                                <img src="{{ reply.profile_pic }}" class="rounded-circle post-profile-img" style="left: 10px;">
                            </div>
                            <div class="ml-3">
                                <div class="m-0">
                                    <a href="{% url 'view_profile' reply.username %}" class="comment-username">
                                        {{ reply.username }}
                                    </a> : <h6 class="comment-date-time">{{ reply.date_time|timesince }} ago</h6>
                                </div>
                                <div class="comment-content">
                                    {{ reply.comment }}
                                </div>
                                <a href="#" class="comment-reply" id="{{ comment.comment_id }}">
                                    <i class="fas fa-reply"></i>
                                </a>
                            {% if editable or canDelete %}
                                <a href="#" class="comment-dlt" id="{{ reply.comment_id }}">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% else %}
    <div class="empty-comments" id="empty-comment">
        <div class="empty-notif-ghost"><i class="fas fa-ghost"></i></div>
            <h4 style="position: relative; left: 2px;">No comments</h4>
        </div>
{% endif %}