{% extends "index.html" %}
{% load static %}

{% block title %}
<title>Profile Page</title>
{% endblock %}

{% block head %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="col-lg-3"></div>
<div class="col-lg-6">
    <br/>
    <div class="profile-pic">
        <img src="/media/{{ profile.profile_pic }}" class="profile-pic-rounded">
    </div>
    <div class="edit-prof-link">
    {% if editable %}
        <a class="btn btn-dark" href="{% url 'edit_profile' profile.username %}"><span>Edit Profile</span></a>
    {% endif %}
    {% if not editable %}
        {% if isFollowing %}
            <a class="btn btn-dark" href="{% url 'manage_relation' profile.username 'unfollow' %}"><span>Unfollow</span></a>
        {% elif isFollower %}
            <a class="btn btn-dark" href="{% url 'manage_relation' profile.username 'follow' %}"><span>Follow Back</span></a>
        {% else %}
            <a class="btn btn-dark" href="{% url 'manage_relation' profile.username 'follow' %}"><span>Follow</span></a>
        {% endif %}
    {% endif %}
    </div>
    <br>
    <h2 class="display-2">
        {{ profile.username }}
        {{ profile.usename|json_script:"profile_name" }}
    </h2>
    <h4>{{ profile.bio }}</h4>
    <div class="details-counter">
        <div class="post-counter">
            <h3>{{ posts|length }}</h4>
            <h4 style="opacity: 0.5">Posts</h4>
        </div>
        <div class="follow-counter">
            <h3>{{ follower_count }}</h4>
            <h4 style="opacity: 0.5">Followers</h4>
        </div>
        <div class="following-counter">
            <h3>{{ follow_count }}</h3>
            <h4 style="opacity: 0.5">Following</h4>
        </div>
        <div class="activity-counter" id="id_activity" style="float: left;"></div>
        {% if activity == "#" %}
            <br/><br/><br/><br/>
        {% endif %}
    </div>
    <ul class="nav nav-pills mb-3" id="cardtab" role="tablist">
        <li class="nav-item">
            <a class="nav-link link active" id="post-tab" data-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="true">
                <h4>Posts</h4>
            </a>
        </li>
        <li class="nav-item px-1">
            <a class="nav-link link" id="blank-tab" data-toggle="tab" href="#blank" role="tab" aria-controls="blank" aria-selected="true">
                <h4>Blank</h4>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="cardtabContent">
        <div class="tab-pane fade show active" id="post" role="tabpanel" aria-labelledby="post-tab">
            {% for post in posts %}
            <div class="card post-card">
                <div class="card-body text-align-left display-3 index-post-card-body" id="post-container"> 
                    {{ post.status|json_script:"post-data" }}
                </div>
                <div class="card-footer">
                    <a href="{% url 'post_like_profile' profile.username post.post_id %}" class="like-btn"><i class="fas fa-fire-alt"></i></a>
                    <span class="likes-counter">{{ post.likes_count }}</span>
                    <span class="post-date-time">{{ post.date_time }}</span>    
                </div>
            </div>
            <br>
          {% endfor %}
        </div>
        <div class="tab-pane fade" id="blank" role="tabpanel" aria-labelledby="blank-tab">
            <h5 style="text-align: center">Still Working on it</h5>
        </div>
    </div>
</div>
<div class="col-lg-3">
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}