{% extends "index.html" %}
{% load static %}

{% block title %}
<title>{{ profile.username }}</title>
{% endblock %}

{% block head %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block indicator %}
<div class="container-fluid">
    {% if editable %}
        <div class="indicator">
            <div class="alert alert-success" id="success-msg" role="alert">
                Your account settings was successfully updated!
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 prof-details-wrapper">
        <br/>
        <div class="profile-pic">
            <img src="{{ profile.profile_pic.url }}" alt="{{ profile.username }}-current-prof-pic" class="profile-pic-rounded">
        </div>
        <div class="edit-prof-link">
        {% if editable %}
            <button class="btn btn-dark options-link settings" id="user-acc-settings-btn" data-toggle="modal" data-target="#settings">
                <i class="fas fa-cog"></i>
            </button>
            <div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="settings-title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title headline">Account Settings</h5>
                            <a href="#" id="acc_settings_close" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" style="color: white;">&times;</span>
                            </a>
                        </div>
                        <div class="modal-body nav-pills-modal-body">
                            <ul class="nav nav-pills mb-3" id="cardtab" role="tablist">
                                <li class="nav-item px-1">
                                    <a class="nav-link link active" id="notif-tab" data-toggle="tab" href="#notif" role="tab" aria-controls="notif" aria-selected="true">
                                        <i class="fas fa-bell"></i>
                                    </a>
                                </li>
                                <li class="nav-item px-1">
                                    <a class="nav-link link" id="privacy-tab" data-toggle="tab" href="#privacy" role="tab" aria-controls="privacy" aria-selected="true">
                                        <i class="fas fa-lock"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content" id="cardtabContent">
                                <form id="user_acc_settings_form" method="POST">
                                    {% csrf_token %}
                                    <div class="tab-pane fade show active" id="notif" role="tabpanel" aria-labelledby="notif-tab">
                                        <img class="account-settings-loading-gif" alt="acc-settings-loading-gif" src="{% static 'img/loading.gif' %}"/>
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="disable-all-switch">
                                            <label class="custom-control-label" for="disable-all-switch">Disable all</label>
                                        </div>
                                        <br/>
                                        <div class="p-settings" id="post-settings">
                                                <h5>Posts</h5>
                                                <div class="settings-notif-border"></div>
                                                <br/>
                                                <div class="p-likes-settings">
                                                    <h6 class="settings-sub-headline">Likes</h6>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="disable-p-like-radio" name="p-likes" value="Disable">
                                                        <label class="custom-control-label" for="disable-p-like-radio">Disable</label>
                                                        <br/>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="p-like-from-following-radio" name="p-likes" value="From People I Follow">
                                                        <label class="custom-control-label" for="p-like-from-following-radio">From People I Follow</label>
                                                        <br/>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="p-like-from-every-radio" name="p-likes" value="From Everyone">
                                                        <label class="custom-control-label" for="p-like-from-every-radio">From Everyone</label>
                                                    </div>
                                                </div>
                                                <br/>
                                                <div class="p-comments-settings">
                                                    <h6 class="settings-sub-headline">Comments</h6>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="disable-p-c-radio" name="p-comments" value="Disable">
                                                        <label class="custom-control-label" for="disable-p-c-radio">Disable</label>
                                                        <br/>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="p-c-from-following-radio" name="p-comments" value="From People I Follow">
                                                        <label class="custom-control-label" for="p-c-from-following-radio">From People I Follow</label>
                                                        <br/>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="p-c-from-every-radio" name="p-comments" value="From Everyone">
                                                        <label class="custom-control-label" for="p-c-from-every-radio">From Everyone</label>
                                                    </div>
                                                </div>
                                                <br/>
                                                <div class="p-c-like-settings">
                                                    <h6 class="settings-sub-headline">Comment Likes</h6>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="disable-p-c-l-radio" name="p-c-likes" value="Disable">
                                                        <label class="custom-control-label" for="disable-p-c-l-radio">Disable</label>
                                                        <br/>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="p-c-l-following-radio" name="p-c-likes" value="From People I Follow">
                                                        <label class="custom-control-label" for="p-c-l-following-radio">From People I Follow</label>
                                                        <br/>
                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" id="p-c-l-every-radio" name="p-c-likes" value="From Everyone">
                                                        <label class="custom-control-label" for="p-c-l-every-radio">From Everyone</label>
                                                    </div>
                                                </div>
                                                <br/>
                                                <div class="follow-following-settings">
                                                    <h5>Following & Followers</h5>
                                                    <div class="settings-notif-border"></div>
                                                    <br/>
                                                    <div class="f-settings">
                                                        <h6 class="settings-sub-headline">New Followers</h6>
                                                        <div class="custom-control custom-switch">
                                                            <input type="checkbox" class="custom-control-input" id="disable-f-switch">
                                                            <label class="custom-control-label" for="disable-f-switch">Disable</label>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="privacy" role="tabpanel" aria-labelledby="privacy-tab">
                                        <h5>Account Privacy</h5>
                                        <div class="settings-notif-border"></div>
                                        <br/>
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="private-acc-switch">
                                            <label class="custom-control-label" for="private-acc-switch">Private Account</label>
                                            <p style="opacity: 0.7;font-size: 13px;"> When your account is private, strangers can't see your photos & videos, it won't affect
                                                those following you.</p>
                                        </div>
                                        <br/>
                                        <h5>Activity Status</h5>
                                        <div class="settings-notif-border"></div>
                                        <br/>
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="activity-status-switch">
                                            <label class="custom-control-label" for="activity-status-switch">Show Activity Status</label>
                                            <p style="opacity: 0.7;font-size: 13px;">
                                                Allow accounts you follow & anyone you message to see when you were last active in CentralPerk.
                                                If this option is turned off, you can't see other user's activity status.
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-dark options-link edit" href="{% url 'edit_profile' profile.username %}">
                <i class="fas fa-pencil-alt"></i>
            </a>
        {% endif %}
        {% if not editable %}
            {% if isBlocked %}
                <a class="btn btn-dark block_unblock_user" href="#" id="unblock">Unblock</a>
            {% else %}
                <a class="btn btn-dark block_unblock_user" href="#" id="block">Block</a>
            {% endif %}

            {% if not isBlocked %}
                {% if isFollowing %}
                    <a class="btn btn-dark follow_unfollow_user" href="#" id="unfollow">Unfollow</a>
                {% elif isFollower %}
                    <a class="btn btn-dark follow_unfollow_user" href="#" id="follow_back">Follow Back</a>
                {% elif isPending %}
                    <a class="btn btn-dark follow_unfollow_user" href="#" id="unfollow">Requested</a>
                {% else %}
                    <a class="btn btn-dark follow_unfollow_user" href="#" id="follow">Follow</a>
                {% endif %}
            {% endif %}
        {% endif %}
        </div>
        <br/>
        <div class="about-profile">
            <div class="profile-info">
                <h2 class="display-2">
                    {{ profile.username }}
                    {{ profile.usename|json_script:"profile_name" }}
                </h2>
                <div class="profile-bio">
                    <h4 id="less"></h4>
                    <h4 id="more"></h4>
                    <a href="#" id="more-bio-content">Read more...</a>
                    {{ profile.bio|json_script:"profile_bio" }}
                </div>
            </div>
            <br/>
            <div class="details-counter">
                <div class="post-counter">
                    <h3>{{ user_posts_count }}</h4>
                    <h4 style="opacity: 0.5">Posts</h4>
                </div>
                <div class="follow-counter">
                    <h3 id="follower_count">{{ follower_count }}</h4>
                    <h4 style="opacity: 0.5">Followers</h4>
                </div>
                <div class="following-counter">
                    <h3 id="following_count">{{ follow_count }}</h3>
                    <h4 style="opacity: 0.5">Following</h4>
                </div>
                <br/><br/><br/><br/>
            </div>
        </div>
    </div>
</div>
<br/>
<div class="profile-post-container">
    <ul class="nav nav-pills mb-3" id="cardtab" role="tablist">
        <li class="nav-item">
            <a class="nav-link link active" id="post-tab" data-toggle="tab" href="#post" role="tab" aria-controls="post" aria-selected="true">
                <h4>Posts</h4>
            </a>
        </li>
        {% if saved_posts %}
        <li class="nav-item px-1">
            <a class="nav-link link" id="saved-tab" data-toggle="tab" href="#saved" role="tab" aria-controls="saved" aria-selected="true">
                <h4>Collections</h4>
            </a>
        </li>
        {% endif %}
    </ul>
    <div class="tab-content" id="cardtabContent">
        <div class="tab-pane fade show active" id="post" role="tabpanel" aria-labelledby="post-tab">
            {% if private_msg or posts|length < 1 %}
            <div id="prof-posts" style="align-content: center">
            {% else %}
            <div id="prof-posts">
            {% endif %}
                {% include "prof_posts.html" %}
            </div>
        </div>
        {% if saved_posts %}
            <div class="tab-pane fade" id="saved" role="tabpanel" aria-labelledby="saved-tab">
                <div id="saved-posts">
                    {% for post in saved_posts %}
                        <div class="card prof-post-card">
                            {% if post.status_caption and not post.pic_thumbnail %}
                                <a href="{% url 'view_post' post.post_id %}" class="card-body display-3 prof-post-card-body" id="status_caption-container">
                                    {{ post.status_caption|linebreaks }}
                                </a>
                            {% elif post.status_caption and post.pic_thumbnail %}
                                <div class="card-body prof-img-post-card-body">
                                    <a href="{% url 'view_post' post.post_id %}"><img src="{{ post.pic_thumbnail.url }}" class="prof-card-body-img"></a>
                                </div>
                            {% else %}
                                <div class="card-body prof-img-post-card-body">
                                    <a href="{% url 'view_post' post.post_id %}"><img src="{{ post.pic_thumbnail.url }}" class="prof-card-body-img"></a>
                                </div>
                            {% endif %}
                                <div class="prof-post-actions">
                                    <i class="fas fa-fire-alt prof-like-ico"></i>
                                    <span class="prof-likes-counter">{{ post.likes_count }}</span>
                                    <i class="fas fa-comment-alt prof-comment-ico"></i>
                                    <span class="prof-comments-counter">{{ post.comment_count }}</span>
                                </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}