{% extends "index.html" %}
{% load static %}

{% block title %}
<title>PostView Page</title>
{% endblock %}

{% block head %}
    <link href="{% static 'css/view_post.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="indicator">
    <div class="alert alert-success hidden" id="success-msg" role="alert">
    </div>
    <div class="alert alert-error hidden" id="error-msg" role="alert">
    </div>
</div>
<div class="post-view-container">
    <div class="refresh-btn-container">
        <a href="#" class="btn btn-dark refresh-btn" id="refresh-content">Refresh</a>
        <img class="refresh-loading-gif hidden" id="loading-gif" src="{% static '/login/img/loading.gif' %}">
    </div>
    {% if post_data.pic %}
    {% if post_data.pic.width >= post_data.pic.height %}
    <div class="post-view">
        <div class="wrap-img-view" id="post-img">
            <img src="/media/{{ post_data.pic }}" class="img-fluid post-pic-enlarged-view" alt="Responsive image">
        </div>
        <div class="card wrap-data-view" id="id_view-post-card">
    {% else %}
    <div class="potrait-view">
        <div class="wrap-potrait-view potrait-hw" id="post-img">
            <img src="/media/{{ post_data.pic }}" class="img-fluid post-pic-enlarged-view potrait-height" alt="Responsive image">
        </div>
        <div class="card wrap-potrait-data-view" id="id_view-post-card">
    {% endif %}
    {% else %}
    <div class="post-view status-view">
        <div class="card wrap-data-view data-view-enlarged" style="border-radius: 1rem">
    {% endif %}
            <div class="card-header" id='id_view-post-card-header'>
                <ul class="nav nav-pills" id="cardtab" role="tablist">
                    <li class="nav-item px-1">
                        <a class="nav-link link active" id="post-details-tab" data-toggle="tab" href="#post-details" role="tab" aria-controls="post" aria-selected="true">
                            <h4 class="detail-tab-icon">
                                <i class="fas fa-meh-blank"></i>
                            </h4>
                        </a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link link" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="true">
                            <h4 class="postview-pill-align">
                                <i class="fas fa-comment-alt"></i>
                                <span id="comment_count">{{ comment_count }}</span>
                            </h4>
                        </a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link link" id="like-tab" data-toggle="tab" href="#like" role="tab" aria-controls="like" aria-selected="true">
                            <h4 class="postview-pill-align">
                                <i class="fas fa-fire-alt like-pill-ico"></i>
                                <span id="likes_count" style="font-size: 17px">{{ post_data.likes_count }}</span>
                            </h4>
                        </a>
                    </li>
                </ul>
                {% if editable %}
                    <a href="{% url 'del_user_post' post_id %}" class="btn btn-dark del-post-btn"><i class="fas fa-trash-alt"></i></a>
                {% endif %}
            </div>
            <div class="tab-content" id="cardtabContent">
                <div class="tab-pane fade show active" id="post-details" role="tabpanel" aria-labelledby="post-details-tab">
                {% if post_data.pic %}
                    <div class="card-body detail-view-card-body" id="id_view-post-detail-body">
                {% else %}
                    <div class="card-body detail-view-card-body only-detail">
                {% endif %}
                        <div class="post-user" id="id_view-post-details-body">
                            <img src="/media/{{ post_data.user.profile_pic }}" class="rounded-circle post-user-profile-pic">
                            <br/>
                            <div class="display-2">
                                <a class="post-username" href="{% url 'view_profile' post_data.user.username %}">{{ post_data.user.username }}</a>
                            </div>
                            <div class="post-details">
                                {{ post_data.location }}
                                <br/>
                                {{ post_data.date_time|timesince }} ago
                            </div>
                            <br/><br/>
                            <div class="post-status-caption" id="status_caption_container">
                            {{ post_data.status_caption|json_script:"post-status_caption" }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
                    {% if post_data.pic %}
                    <div class="card-body comment-view-card-body" id='id_view-post-comment-body'>
                    {% else %}
                    <div class="card-body comment-view-card-body" style="height: 373px;">
                    {% endif %}
                        <div id="post-comments-wrapper">
                            {% include "post_comments.html" %}
                        </div>
                    </div>
                    <div class="card-footer comment-section-footer" id='id_view-post-comment-card-footer'>
                        <form method="POST" id="comment_form">
                            {% csrf_token %}
                            <input type="hidden" id="reply" class="reply-to" name="reply" value="">
                            <textarea type="text" class="form-control comment-input" autocomplete="off" id="comment_box" name="comment" placeholder="Post a comment" style="height: 45px"></textarea>
                            <button type="submit" class="btn btn-dark comment-send-btn"><i class="material-icons cmmnt-send-ico">send</i></button>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="like" role="tabpanel" aria-labelledby="like-tab">
                {% if post_data.pic %}
                    <div class="card-body like-view-card-body" id="id_view-post-like-body">
                {% else %}
                    <div class="card-body like-view-card-body" style="height: 367px;">
                {% endif %}
                        <div id="post-likes-wrapper">
                            {% include "post_likes.html" %}
                        </div>
                    </div>
                    <div class="card-footer like-section-footer">
                        <a href="{% url 'like_from_post_view' post_id %}" id="post_like_btn" class="btn btn-dark post-view-like-btn">
                            {% if liked_by_user %}
                                <i class="fas fa-fire-alt liked"></i>
                            {% else %}
                                <i class="fas fa-fire-alt disliked"></i>
                            {% endif %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'js/view_post.js' %}"></script>
{% endblock %}