{% extends "index.html" %}
{% load static %}

{% block title %}
<title>PostView Page</title>
{% endblock %}

{% block head %}
    <link href="{% static 'css/view_post.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="post-view-container">
    {% if post_data.pic %}
    <div class="post-view">
        <div class="wrap-img-view" id="post-img">
            <img src="/media/{{ post_data.pic }}" class="img-fluid post-pic-enlarged-view" alt="Responsive image">
        </div>
        <div class="card wrap-data-view" id="id_view-post-card">
    {% else %}
    <div class="post-view status-view">
        <div class="card wrap-data-view" style="border-radius: 1rem">
    {% endif %}
            <div class="card-header" id='id_view-post-card-header'>
                <ul class="nav nav-pills" id="cardtab" role="tablist">
                    <li class="nav-item px-1">
                        <a class="nav-link link active" id="post-details-tab" data-toggle="tab" href="#post-details" role="tab" aria-controls="post" aria-selected="true">
                            <h4 class="detail-tab-icon">
                                <i class="fas fa-meh-blank"></i>
                            </h4>
                        </a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link link" id="comment-tab" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="true">
                            <h4>
                                <i class="fas fa-comment-alt"></i>
                                <span style="position: relative;">{{ comment_count }}</span>
                            </h4>
                        </a>
                    </li>
                    <li class="nav-item px-1">
                        <a class="nav-link link" id="like-tab" data-toggle="tab" href="#like" role="tab" aria-controls="like" aria-selected="true">
                            <h4>
                                <i class="fas fa-fire-alt"></i>
                                <span style="font-size: 20px">{{ post_data.likes_count }}</span>
                            </h4>
                        </a>
                    </li>
                </ul>
                {% if editable %}
                    <a href="{% url 'del_user_post' post_id %}" class="btn btn-dark del-post-btn"><i class="fas fa-trash-alt"></i></a>
                {% endif %}
            </div>
            <div class="tab-content" id="cardtabContent">
                <div class="tab-pane fade show active" id="post-details" role="tabpanel" aria-labelledby="post-details-tab">
                {% if post_data.pic %}
                    <div class="card-body detail-view-card-body" id="id_view-post-detail-body">
                {% else %}
                    <div class="card-body detail-view-card-body only-detail">
                {% endif %}
                        <div class="post-user">
                            <img src="/media/{{ post_data.user.profile_pic }}" class="rounded-circle post-user-profile-pic">
                            <br/>
                            <div class="display-2 post-username">
                                <a href="{% url 'view_profile' post_data.user.username %}">{{ post_data.user.username }}</a>
                            </div>
                            <br/>
                            {{ post_data.date_time|timesince }} ago
                            <br/><br/>
                            <div class="post-status-caption" id="status_caption_container">
                            {{ post_data.status_caption|json_script:"post-status_caption" }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="comment" role="tabpanel" aria-labelledby="comment-tab">
                {% if post_data.pic %}
                    <div class="card-body comment-view-card-body" id='id_view-post-comment-body'>
                {% else %}
                    <div class="card-body comment-view-card-body" style="height: 373px;">
                {% endif %}
                        {% if comments %}
                            {% for comment in comments %}
                                <div class="d-flex">
                                    <div class="mr-1">
                                        <img src="/media/{{ comment.profile_pic }}" class="rounded-circle post-profile-img">
                                    </div>
                                    <div class="ml-2">
                                        <div class="m-0">
                                            <a href="{% url 'view_profile' comment.username %}" class="comment-username">
                                                {{ comment.username }}
                                            </a> :
                                        </div>
                                        <div class="comment-content">
                                            {{ comment.comment }}
                                        </div>
                                        <a href="#" style="float: left" class="comment-reply" id="{{ comment.comment_id }}">reply</a>
                                        <h6 class="comment-date-time">{{ comment.date_time|timesince }} ago</h6>
                                    </div>
                                </div>
                                {% for reply in comment.reply %}
                                    <div class="d-flex">
                                        <div class="mr-1 comment-reply-margin">
                                            <img src="/media/{{ reply.profile_pic }}" class="rounded-circle post-profile-img" style="left: 10px;">
                                        </div>
                                        <div class="ml-3">
                                            <div class="m-0">
                                                <a href="{% url 'view_profile' reply.username %}" class="comment-username">
                                                    {{ reply.username }}
                                                </a> :
                                            </div>
                                            <div class="comment-content">
                                                {{ reply.comment }}
                                            </div>
                                            <a href="#" style="float: left" class="comment-reply" id="{{ comment.comment_id }}">reply</a>
                                            <h6 class="comment-date-time">{{ reply.date_time|timesince }} ago</h6>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                        <div class="empty-comments" id="empty-comment">
                            <div class="empty-notif-ghost"><i class="fas fa-ghost"></i></div>
                            <h5 style="position: relative; left: 2px;">No comments</h5>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-footer comment-section-footer" id='id_view-post-comment-card-footer'>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" class="reply-to" name="reply" value="">
                            <textarea type="text" class="form-control comment-input" autocomplete="off" id="comment_box" name="comment" placeholder="Post a comment"></textarea>
                            <button type="submit" class="btn btn-dark comment-send-btn"><i class="material-icons cmmnt-send-ico">send</i></button>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="like" role="tabpanel" aria-labelledby="like-tab">
                {% if post_data.pic %}
                    <div class="card-body like-view-card-body" id="id_view-post-like-body">
                {% else %}
                    <div class="card-body like-view-card-body" style="height: 367px;">
                {% endif %}
                        {% if liked_user_list %}
                        <div class="likes-tab" style="text-align: left">
                            {% for liked_user in liked_user_list %}
                                <div class="liked-user">
                                    <a href="{% url 'view_profile' liked_user.user.username %}">
                                        <img src="/media/{{ liked_user.user.profile_pic }}" class="rounded-circle post-profile-img like-prof-margin">
                                        {{ liked_user.user.username }}
                                    </a>
                                    <span class="like-date-time">{{ liked_user.date_time|timesince }} ago</span>
                                    <br/>
                                </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="empty-likes" id="empty-like">
                            <div class="empty-notif-ghost"><i class="fas fa-ghost"></i></div>
                            <h5 style="position: relative; left: 2px;">No Likes</h5>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-footer like-section-footer">
                        <a href="{% url 'like_from_post_view' post_id True %}" class="btn btn-dark post-view-like-btn"><i class="fas fa-fire-alt ico-center-align"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="{% static 'js/view_post.js' %}"></script>
{% endblock %}