django
pytz
Pillow
argon2-cffi
django-redis-cache
django-storages[dropbox]
whitenoise
django-heroku
django_redis
redis
channels
channels_redis
gevent
celery
dj-database-url
psycopg2-binary
django-session-security
django-cors-headers