django
pytz
Pillow
argon2-cffi
django-redis-cache
django-storages
boto3
whitenoise[brotli]
django_redis
redis
channels
channels_redis
Twisted[tls,http2]
gevent
celery
django-session-security
django-cors-headers
django-extensions