/*-------------- input-error-span ---------------*/
.signup-error {
  height: 5px;
}

/*----------- gender-select-dropdown ------------*/
.gender-select-container {
  padding: 10px 0px 10px 6px;
}

.gender-selection-dropdown {
  background: transparent;
  width: 100%;
  color: white;
  border: none;
}

.gender-selection-dropdown:focus {
  outline: none;
}

option { 
  background: #1d1d1d;
  outline: none;
}

/*------------- signup-btn-container ------------*/
.container-register-form-btn {
  display: flex;
  position: relative;
  justify-content: center;
  top: 15px;
}

/*------------ signup-btn-loading-gif -----------*/
.signup-loading-gif {
  position: absolute;
  height: 50px;
  width: 107px;
  border-radius: 25px;
  cursor: pointer;
}