{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Barriecito&display=swap" rel="stylesheet">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'login/img/favicon.png' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
	{% block style %}
	{% endblock %}
	{% block title %}
		<title>Login Page</title>
	{% endblock %}
  </head>
  <body>
    <div class="container-auth100">
		<div class="wrap-auth">
		{% block body %}
			<h1 class="headline">CentralPerk</h1>
			<form class="wrap-loginform" method="POST">
				{% csrf_token %}
				<input class="input100" type="text" id="login-username" name="username" aria-label="username" placeholder="Username">
				<br/>
				<input class="input100 password-margin" id="login-pass" type="password" name="password" aria-label="password" placeholder="Password">
				<div class="text-center p-t-12 login-error">
					<span class="txt1" id="form-error" style="color:orange;"></span>
				</div>
				<div class="container-login100-form-btn"> 
					<button class="login100-form-btn" id="login-btn" type="submit">Login</button>
					<img class="login-loading-gif" id="loading-gif" src="{% static 'login/img/loading.gif' %}">
				</div>
				<br/>
				<div class="text-center p-t-12">
					<span class="txt1">Forgot</span>
					<a class="txt2" href="#">Username / Password?</a>
				</div>
				<div class="text-center p-t-136">
					<a class="txt2" href="{% url 'register_user' %}">
						Create your Account
						<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
					</a>
				</div>
			</form>
		{% endblock %}
		</div>
	</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	{% block script %}
		<script src="{% static 'login/js/main.js' %}"></script>
	{% endblock %}
  </body>
</html>