@media only screen and (max-width: 768px) {
  h4 {
    font-size: 18px;
  }
  h3 {
    font-size: 18px;
  }
  .post-counter {
    margin-right: 21px;
    float: left;
  }
  
  .follow-counter {
    margin-right: 21px;
    float: left;
  }
  
  .following-counter {
    margin-right: 21px;
    float: left;
  }
}


/* ----------- Like btn on posts ----------- */
.like-btn {
  float:left;
  position: relative;
  top: 3px;
}
/* ----------------------------------------- */

/* ------------- Profile Pic --------------- */
.profile-pic-rounded {
    border-radius: 50%!important;
    overflow: hidden;
    height: 150px;
}
/* ----------------------------------------- */

/* ----------- Edit Profile btn ------------ */
.edit-prof-link {
  float:right;
  position: relative;
  bottom: 93px;
}

a:hover span {
  color: black;
}
/* ----------------------------------------- */

/* ------------ Details counter ------------ */
@media only screen and (min-width: 768px) {
  .post-counter {
    margin-right: 32px;
    float: left;
  }
  
  .follow-counter {
    margin-right: 32px;
    float: left;
  }
  
  .following-counter {
    margin-right: 32px;
    float: left;
  }
}
/* ----------------------------------------- */