.card::-webkit-scrollbar { width: 0 !important; }

.card-body::-webkit-scrollbar { width: 0 !important; }

/* ------------- Centered container ------------- */
.post-view-container {
    width: 100%;
    min-height: 90vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.post-view {
    display: flex;
    overflow: hidden;
    padding: 15px;
}

.wrap-img-view {
    flex: 1;
    background: black;
    overflow: hidden;
    border-radius: 1.5rem 0rem 0rem 1.5rem;
}
/* ---------------------------------------------- */

/* ------------ post-img on the left ------------ */
.post-pic-enlarged-view {
    width: 100%;
    border-radius: 1rem 0rem 0rem 1rem;
}
/* ---------------------------------------------- */

/* ----------- post-data on the right ----------- */
.wrap-data-view {
    flex: 0.5;
    background: #413780;
    border-radius: 0rem 1rem 1rem 0rem;    
}

#cardtab {
    float: left;
}

.btn-dark {
    float: right;
}

.btn-dark:hover {
    background: indianred;
    color: black;
    border: 1px solid indianred;
}

.post-view-card-body {
    padding: 5px;
    overflow-x: auto;
}

.display-2:hover {
    color: #a7a2a2;
}
/* ---------------------------------------------- */

/* ---------- post-data detail section ---------- */
.detail-tab-icon {
    font-size: 20px;
    position: relative;
    bottom: 1px;
}

.fa-meh-blank {
    color: springgreen;
}

.post-user {
    text-align: center;
    padding: 5px;
}

.post-user-profile-pic {
    height: 100px;
    position: relative;
    bottom: 5px;
}
/* ---------------------------------------------- */

/* ---------- post-data comment section --------- */
#empty-comment, #empty-like {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    opacity: 0.5;
}

.fa-comment-alt {
    color: mediumpurple;
}
/* ---------------------------------------------- */

/* ----------- post-data like section ----------- */
.liked-user {
    margin-left: 5px;
    margin-bottom: 5px;
}
/* ---------------------------------------------- */

/* ------------- Reponsive content -------------- */
@media only screen and (max-width: 1024px) {
    .post-view {
        flex-direction: column;
    }

    .wrap-img-view {
        border-radius: 1.5rem 1.5rem 0rem 0rem;
    }

    .post-pic-enlarged-view {
        border-radius: 0;
    }

    .wrap-data-view {
        border-radius: 0rem 0rem 2rem 2rem;
    }

    .post-view-card-body {
        height: 200px;
    }
}
/* ---------------------------------------------- */