.card::-webkit-scrollbar { width: 0 !important; }

.card-body::-webkit-scrollbar { width: 0 !important; }

/* ------------- Centered container ------------- */
.post-view-container {
    width: 100%;
    min-height: 90vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.post-view {
    display: flex;
    overflow: hidden;
    padding: 20px;
}

.wrap-img-view {
    flex: 1;
    background: black;
    overflow: hidden;
    border-radius: 1.5rem 0rem 0rem 1.5rem;
}
/* ---------------------------------------------- */

/* ------------ post-img on the left ------------ */
.post-pic-enlarged-view {
    width: 100%;
    border-radius: 1rem 0rem 0rem 1rem;
}
/* ---------------------------------------------- */

/* ----------- post-data on the right ----------- */
.wrap-data-view {
    position: relative;
    flex: 0.5;
    background: #413780;
    border-radius: 0rem 1rem 1rem 0rem;    
}

#cardtab {
    float: left;
}

.del-post-btn {
    float: right;
}

.del-post-btn:hover {
    background: indianred;
    color: black;
    border: 1px solid indianred;
}

.display-2:hover {
    color: #a7a2a2;
}
/* ---------------------------------------------- */

/* ---------- post-data detail section ---------- */
.detail-tab-icon {
    font-size: 20px;
    position: relative;
    bottom: 1px;
}

.fa-meh-blank {
    color: springgreen;
}

.detail-view-card-body {
    padding: 10px;
    overflow-x: auto;
    position: relative;
}

.post-user {
    text-align: center;
    padding: 5px;
}

.post-username {
    font-size: 22px;
    position: relative;
    right: 1px;
}

.post-user-profile-pic {
    height: 100px;
    position: relative;
    bottom: 5px;
}
/* ---------------------------------------------- */

/* ---------- post-data comment section --------- */
.comment-view-card-body {
    padding: 5px 20px 10px 10px;
    overflow-x: auto;
    position: relative;
}

.fa-comment-alt {
    color: mediumpurple;
}

#empty-comment, #empty-like {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    opacity: 0.5;
}

#empty-like { left: 52%; }

.m-0 { font-size: 17px; }

.ml-2 { font-size: 15px; width: 100%; }

.comment-reply-margin { 
    margin-left: 53px;
    border-left: 2px solid blueviolet;
}

.comment-date-time {
    font-size: 12px;
    float: right;
    line-height: 2.5;
}

.comment-user {
    margin-left: 5px;
    margin-bottom: -5px;
    overflow-x: auto;
    line-height: 1;
}

.comment-input { 
    float: left;
    width: 80%;
 }

.comment-send-btn {
    float: right;
}
/* ---------------------------------------------- */

/* ----------- post-data like section ----------- */
.liked-user {
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 17px;
}

.like-view-card-body {
    padding: 5px 20px 10px 10px;
    overflow-x: auto;
    position: relative;
}

.like-prof-margin {
    margin-right: 5px;
}

.like-date-time {
    text-align: right;
    float: right;
    line-height: 3.3;
    font-size: 15px;
}

.like-section-footer {
    background:rgba(0,0,0,0);
}

.post-view-like-btn {
    border-radius: 50% !important;
    height: 39px;
    width: 40px;
    position: relative;
    left: 50%;
    opacity: 1;
}

.post-view-like-btn:hover {
    background-color: black;
    border-color: black;
}

.ico-center-align {
    font-size: 16px;
    line-height: 1.5;
}
/* ---------------------------------------------- */

/* ------------- Reponsive content -------------- */
@media only screen and (max-width: 1024px) {
    .post-view {
        flex-direction: column;
    }

    .wrap-img-view {
        border-radius: 1.5rem 1.5rem 0rem 0rem;
    }

    .post-pic-enlarged-view {
        border-radius: 0;
    }

    .wrap-data-view {
        border-radius: 0rem 0rem 2rem 2rem;
    }

    .post-view-card-body, .comment-view-card-body {
        height: 240px;
    }
}
/* ---------------------------------------------- */