.card::-webkit-scrollbar { width: 0 !important; }

.card-body::-webkit-scrollbar { width: 0 !important; }

/* ------------- Centered container ------------- */
.post-view-container {
    width: 100%;
    min-height: 90vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.post-view {
    display: flex;
    overflow: hidden;
    padding: 20px;
}

.status-view {
    border-radius: 1rem;
    position: absolute;
    width: 100%;
    justify-content: center;
    flex: 1;
}

.wrap-img-view {
    max-width: 768px;
    background: black;
    overflow: hidden;
    border-radius: 1.5rem 0rem 0rem 1.5rem;
}
/* ---------------------------------------------- */

/* ------------ post-img on the left ------------ */
.post-pic-enlarged-view {
    width: 100%;
    border-radius: 1rem 0rem 0rem 1rem;
}
/* ---------------------------------------------- */

/* ----------- post-data on the right ----------- */
.wrap-data-view {
    width: 415px;
    background: #2e2a4b;
    border-radius: 0rem 1rem 1rem 0rem;    
}

.data-view-enlarged { flex: 0.5; }

#cardtab { float: left; }

.del-post-btn {
    float: right;
    border: 1px solid transparent;
}

.del-post-btn:hover {
    background: indianred;
    color: black;
    border: 1px solid indianred;
}

.display-2:hover {
    color: #a7a2a2;
}
/* ---------------------------------------------- */

/* ---------- post-data detail section ---------- */
.fa-meh-blank {
    color: springgreen;
    font-size: 16px;
}

.postview-pill-align {
    position: relative;
    top: 0.5px;
}

.detail-view-card-body {
    padding: 10px;
    overflow-x: auto;
    position: relative;
}

.only-detail {
    height: 430px;
    display: flex;
    justify-content: center;
}

.post-user {
    text-align: center;
    padding: 5px;
    width: 100%;
}

.post-username {
    position: relative;
    right: 2px;
    font-size: 16px;
}

.post-details {
    font-size: 13px;
    position: relative;
    right: 1px;
}

.post-user-profile-pic {
    height: 70px;
    position: relative;
    bottom: 5px;
}

.post-status-caption { font-size: 15px; }
/* ---------------------------------------------- */

/* ---------- post-data comment section --------- */
.comment-view-card-body {
    padding: 0px 20px 0px 25px;
    overflow-x: auto;
    position: relative;
}

#empty-comment, #empty-like {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
    opacity: 0.5;
}

.comment-content { font-size: 12px; }

.m-0 { font-size: 17px; }
.mr-1 { margin-top: 5px; }
.ml-2, .ml-3 { position: unset; }

.comment-reply-margin { 
    margin-left: 48px;
    border-left: 2px solid blueviolet;
}

.comment-date-time {
    font-size: 11px;
    float: right;
    line-height: 2;
}

.comment-user {
    margin-left: 5px;
    margin-bottom: -5px;
    overflow-x: auto;
    line-height: 1;
}

.comment-input { 
    float: left;
    width: 80%;
 }

.comment-send-btn {
    float: right;
}
/* ---------------------------------------------- */

/* ----------- post-data like section ----------- */
.like-pill-ico { position: relative; bottom: 1.5px; }

.liked-user {
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 17px;
}

.like-view-card-body {
    padding: 5px 20px 0px 20px;
    overflow-x: auto;
    position: relative;
}

.like-prof-margin {
    margin-right: 5px;
}

.like-date-time {
    float: right;
    line-height: 3.8;
    font-size: 11px;
}

.like-section-footer {
    background:rgba(0,0,0,0);
    display: flex;
    justify-content: center;
}

.post-view-like-btn {
    background: transparent;
    border-radius: 50% !important;
    height: 39px;
    width: 40px;
    opacity: 1;
    border-color: transparent;
}

.post-view-like-btn:hover {
    background-color: black;
    border-color: black;
}
/* ---------------------------------------------- */

/* ------------- Reponsive content -------------- */
@media only screen and (max-width: 1024px) {
    .post-view {
        flex-direction: column;
    }

    .wrap-img-view {
        border-radius: 1.5rem 1.5rem 0rem 0rem;
    }

    .post-pic-enlarged-view {
        border-radius: 0;
    }

    .wrap-data-view {
        border-radius: 0rem 0rem 2rem 2rem;
    }

    .post-view-card-body, .comment-view-card-body {
        height: 240px;
    }
}
/* ---------------------------------------------- */