* {
    font-family: 'Inconsolata', monospace;
    color: white;
}

body {
    height: 100vh;
    background: linear-gradient(to right, blueviolet, #4158d0);
}

a {
    color: burlywood;
}

a:hover {
    color: #a7a2a2;
    text-decoration: none;
}

.sticky-top {
    position: fixed;
    width: 100%;
    z-index: 0;
}

.card { border: none; background: transparent; }

.card::-webkit-scrollbar { width: 0 !important; }

.card-body::-webkit-scrollbar { width: 0 !important; }

.display-2 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}

.btn-dark {
    background: transparent;
    border-radius: 2.25rem;
    color: white;
    border-color: white;
}

.btn-dark:hover {
    color: black;
    background-color: white;
    border-color: white;
}

.btn-dark.focus, .btn-dark:focus {
    box-shadow: none;
}

h3 { font-size: 22px; }
h4 { font-size: 20px; }
h6 { font-size: 15px; }

/* ------------ flex-items-container ------------- */
.flex-items-container {
    flex-wrap: wrap-reverse;
    flex-direction: row;
}
/* ----------------------------------------------- */

/* ------------------ nav links ------------------ */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white;
    background-color: transparent;
    opacity: 1;
    padding-left: 2px;
}
  
.nav-pills .nav-link {
    opacity: 0.5;
    padding-left: 2px;
}

.nav-link { color: white; }

.nav-link:hover {
    color: black;
}
/* ----------------------------------------------- */

/* ------------ nav search bar, btn -------------- */
@media only screen and (min-width: 768px) {
    #search {
        position: relative;
        transition: top 0.2s;
    }
}

form > .textbox {
    outline: 0;
    height: 37px;
    width: 247px;
    line-height: 42px;
    padding: 0 16px;
    background-color: white;
    color: black;
    border: 0;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    margin-top: 1px;
    border-radius: 2.25rem;
}
  
form > .textbox:focus {
    outline: 0;
    background-color: whitesmoke;
    color: black;
}

form > .button {
    outline: 0;
    background: none;
    background-color: #342782;
    float: left;
    height: 39px;
    width: 40px;
    text-align: center;
    line-height: 37px;
    border: 0;
    color: #FFF;
    font-size: 15px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border-radius: 2.25rem;
}
  
form > .button:hover {
    background-color: greenyellow;
}
/* ----------------------------------------------- */

/* -------------- That white border -------------- */
.border {
    height: 2px;
    background: white;
}

.index_border {
    width: 100px;
}
/* ----------------------------------------------- */

/* --------------- post-container ---------------- */
.post-container {
    display: flex;
    width: 615px;
    height: auto;
    flex-direction: column;
    background: transparent;
    flex-wrap: nowrap;
}
/* ----------------------------------------------- */

/* ------- input form control (status box) ------- */
.form-control {
    border-radius: 0rem;
    background-color: #2e2a4b;
    color: white;
    border: none;
    padding: 0;
    position: absolute;
    line-height: 1.0;
}
.form-control:focus {
    background-color: #2e2a4b;
    color: white;
    border: none;
    box-shadow: none;
}

.form-control[readonly] {
    background-color: transparent;
    opacity: 1;
}
/* ----------------------------------------------- */

/* ----------------- post card ------------------- */
.post-card {
    background: #2e2a4b;
    border-radius: 1.00rem;
}

.index-post-card { width: 614px; }

.post-card-body-img {
    width: 100%;
}

.post-profile-img {
    height: 48px;
    position: relative;
    bottom: 3px;
}

.display-3 {
    font-size: 16px;
}

.card-header {
    background-color: transparent;
    color: white;
    border-bottom: none;
}

.index-img-post-card-body {
    padding: 0rem;
}

.index-post-card-body {
    background-color: transparent; 
    color: white;
    overflow: overlay;
}

.fa-fire-alt {
    font-size: 18px;
    vertical-align: text-top;
    color: orangered;
}

.likes-counter {
    font-size: 18px;
    margin-left: 9px;
    margin-right: 4px;
    vertical-align: top;
}

.fa-comment-alt {
    color: mediumpurple;
    font-size: 18px;
    position: relative;
    vertical-align: sub;
}

.comment-counter {
    vertical-align: top;
    font-size: 18px;
    margin-left: -1px;
}

.post-date-time {
    font-size: 13px;
    float: right;
    position: relative;
    top: 2px;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: transparent;
    border-top: none;
}

.lower-row {
    position: relative;
    top: 5%;
}

.read-more {
    color: sandybrown;
}

.read-more:hover {
    color: black;
}
/* ------------ post card comment box ------------ */
.comment-input {
    position: relative;
    bottom: 4px;
    padding: 0.9rem 0.1rem;
    background-color: #2e2a4b;
    color: white;
    overflow-x: auto;
    resize: none;
    border-radius: 0rem;
    height: 45px;
    float: left;
    width: 92%;
}

.comment-input::-webkit-scrollbar { width: 0 !important; }

.comment-input:focus {
    background-color: #2e2a4b;
    box-shadow: none;
    color: white;
}

.comment-send-btn {
    border-radius: 50% !important;
    height: 39px;
    width: 40px;
    background: #1d2124;
    border-color: #1d2124;
}

.comment-send-btn:hover {
    background-color:  darkorange;
    border-color: darkorange;
}

.cmmnt-send-ico {
    font-size: 16px;
    line-height: 1.5;
}

.btn-dark:hover .cmmnt-send-ico {
    color: black;
    border: none;
}
/* ----------------------------------------------- */

/* ------------- sidebar-container --------------- */
.sidebar-container {
    display: flex;
    width: 300px;
    background: transparent;
    flex-wrap: nowrap;
    margin-left: 2%;
    flex-direction: column;
}

.stories-block {
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
    background: #2e2a4b;
    border-radius: 1.00rem;
    width: 100%;
    height: 220px;
}
/* ----------------------------------------------- */

/* --------------- options-block ----------------- */
.options-link {
    height: 39px;
    width: 40px;
    border: none;
    border-radius: 50% !important;
}

.options-link:hover .fa-bell {
    animation: ring 1s ease;
}

.notif-btn { background: #4eb08f; }
.notif-btn:hover { background: #368f71; }

.upload-btn { background: mediumorchid; }
.upload-btn:hover { background: #a241ba; }

.fa-plus { transition: transform 0.3s; }
.options-link:hover .fa-plus { transform: rotate(45deg); }

.online-users-btn { background: #ee5f2b; }
.online-users-btn:hover { background: #d95524; }

.fa-user-alt { transition: transform 0.3s; }
.options-link:hover .fa-user-alt { transform: rotate(30deg) scale(1.5); }

@-webkit-keyframes ring {
    0% {
        -webkit-transform: rotate(35deg);
    }
    12.5% {
        -webkit-transform: rotate(-30deg);
    }
    25% {
        -webkit-transform: rotate(25deg);
    }
    37.5% {
        -webkit-transform: rotate(-20deg);
    }
    50% {
        -webkit-transform: rotate(15deg);
    }
    62.5% {
        -webkit-transform: rotate(-10deg);
    }
    75% {
        -webkit-transform: rotate(5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes ring {
    0% {
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
    }
    12.5% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
    }
    25% {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg);
    }
    37.5% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    50% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    62.5% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    75% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.modal-backdrop.show {
    opacity: 0.9;
}

.modal-content {
    background: #2e2a4b;
    border-radius: 1rem;
}

.modal-body {
    height: 400px;
    overflow-x: auto;
}

.modal-dialog {
    max-width: 570px;
}

.modal-header {
    border: none;
    padding: 1rem 1rem 0.5rem 1rem;
}

.modal-footer {
    justify-content: center;
    border-top: none;
}

.headline {
    font-size: 22px;
    float: left;
}
/* ----------------------------------------------- */

/* ---------------- Notifications ---------------- */

.clear-notify {
    font-size: 16px;
    float: right;
}

.clear-notify:hover i {
    color: orangered
}

.notify-border {
    width: 150px;
    margin: 4px;
}

.notify-card-body {
    height: 450px;
    overflow-x: auto;
}

.notification {
    background: #544a92;
    border-radius: 1.00rem;
    margin: 2px;
}

.notify-body {
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}

.notify-pic-rounded {
    border-radius: 50%!important;
    overflow: hidden;
    height: 42px;
}

.notify-date-time {
    text-align: left; 
    font-size: 12px;
}

.empty-notif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0.5;
}

.empty-notif-ghost {
    font-size: 90px;
}
/* ----------------------------------------------- */

/* ----------------- status card ----------------- */
.upload-modal-body { padding: 0.5rem; }

.form-group {
    margin-left: 10px;
}

.index-card {
    background:transparent;
    border: none;
}

#status-tab { background-color: transparent; height: 41px; }
.status-tab-ico { color: tomato; }

#image-tab { background-color: transparent; height: 41px; }
.image-tab-ico { color: #7968e2; }

#location-tab { background-color: transparent; height: 41px; }
.location-tab-ico { color: springgreen; }

.status {
    position: absolute;
    box-sizing: border-box;
    width: 95%;
    resize: none;
    outline: none;
    font-size: 17px;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    overflow: hidden;
    height: 70%;
}

.post-img {
    text-align: left;
    position: absolute;
    width: 95%;
    cursor: pointer;
    background: #2e2a4b;
}

.location {
    position: absolute;
    width: 93%;
}
/* ----------------------------------------------- */

/* --------------- stories-block ----------------- */
.story-headline {
    position: relative;
    left: 3%;
    top: 5%;
    text-align: left;
}

.border {
    height: 2px;
    background: white;
}

.story-border {
    position: relative;
    left: 3%;
    top: 2%;
    width: 100px;
}
/* ----------------------------------------------- */