* {
    font-family: 'Inconsolata', monospace;
    color: white;
}

body {
    height: 100vh;
    background: linear-gradient(to right, blueviolet, #4158d0);
}

a {
    color: white;
}

a:hover {
    color: #a7a2a2;
    text-decoration: none;
}

.sticky-top {
    position: fixed;
    width: 100%;
}
.card { border: none; background: transparent; }

.card::-webkit-scrollbar { width: 0 !important; }

.card-body::-webkit-scrollbar { width: 0 !important; }

.display-2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

/* ------------------ Notify ------------------ */
.board {
    position: -webkit-sticky;
    position: sticky;
    top: 58px;
    z-index: 1020;
    background: #413780;
    border-radius: 1.00rem;
    font-family: 'Poppins', sans-serif;
}

.notif-headline {
    font-size: 22px;
    float: left;
}

.clear-notify {
    font-size: 16px;
    float: right;
}

.clear-notify:hover i {
    color: darkorange;
}

.notify-border {
    width: 150px;
    margin: 4px;
}

.notify-card-body {
    height: 450px;
    overflow-x: auto;
}

.notification {
    background: #544a92;
    border-radius: 1.00rem;
    margin: 2px;
}

.notify-body {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0px;
}

.notify-pic-rounded {
    border-radius: 50%!important;
    overflow: hidden;
    height: 40px;
}

.notify-date-time {
    text-align: right; 
    font-size: 15px;
}

.empty-notif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0.5;
}

.empty-notif-ghost {
    font-size: 90px;
}
/* -------------------------------------------- */

/* ---------------- nav links ----------------- */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: white;
    background-color: transparent;
    opacity: 1;
    padding-left: 2px;
}
  
.nav-pills .nav-link {
    opacity: 0.5;
    padding-left: 2px;
}

.nav-link:hover {
    color: black;
}
/* -------------------------------------------- */

/* ----------- nav search bar, btn ------------ */
@media only screen and (min-width: 768px) {
    #search {
        position: relative;
        transition: top 0.2s;
    }
}

form > .textbox {
    outline: 0;
    height: 37px;
    width: 247px;
    line-height: 42px;
    padding: 0 16px;
    background-color: white;
    color: black;
    border: 0;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    margin-top: 1px;
    border-radius: 2.25rem;
}
  
form > .textbox:focus {
    outline: 0;
    background-color: whitesmoke;
    color: black;
}

form > .button {
    outline: 0;
    background: none;
    background-color: #342782;
    float: left;
    height: 39px;
    width: 40px;
    text-align: center;
    line-height: 37px;
    border: 0;
    color: #FFF;
    font-size: 15px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border-radius: 2.25rem;
}
  
form > .button:hover {
    background-color: greenyellow;
}

/* ----- input form control (status box)----- */
.form-control {
    border-radius: 2.25rem;
    background-color: white;
    color: black;
    border: none;
    padding: 0.9rem 1.75rem;
    position: absolute;
    line-height: 1.0;
}
.form-control:focus {
    background-color: whitesmoke;
    color: black;
    border: none;
}
/* ------------------------------------------ */

/* -------------- status card --------------- */
.form-group {
    margin-left: 10px;
}
.index-card {
    background:transparent;
    border: none;
}

#status-tab { background-color: transparent; height: 41px; }

#image-tab { background-color: transparent; height: 41px; }

#location-tab { background-color: transparent; height: 41px; }

.material-icons:hover { color: black; }

.status {
    position: absolute;
    box-sizing: border-box;
    top: 28%;
    width: 90%;
    resize: none;
    outline: none;
    font-size: 17px;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    overflow: hidden;
    height:96px;
}

.post-img {
    text-align: left;
    position: absolute;
    width: 93%;
    bottom: 90px;
    cursor: pointer;
}

.location {
    position: absolute;
    width: 93%;
    bottom: 90px;
}

.status-card-footer {
    margin-left: 10px;
}

.btn-dark {
    background: transparent;
    border-radius: 2.25rem;
    color: white;
    border-color: white;
}

.btn-dark:hover {
    color: black;
    background-color: white;
    border-color: white;
}
/* ----------------------------------------- */

/* ----- That white border under Posts ----- */
.border {
    height: 2px;
    background: white;
}

.index_border {
    width: 100px;
}
/* ----------------------------------------- */

/* -------------- post card ---------------- */
.post-card {
    background: #413780;
    border-radius: 1.00rem;
}

.post-card-body-img {
    width: 100%;
}

.post_profile_img {
    height: 48px;
    position: relative;
    bottom: 3px;
}

.display-3 {
    font-size: 16px;
}

.card-header {
    background-color: transparent;
    color: white;
    border-bottom: none;
}

.index-img-post-card-body {
    padding: 0rem;
}

.index-post-card-body {
    background-color: transparent; 
    color: white;
    overflow: overlay;
}

.fa-fire-alt {
    font-size: 18px;
    vertical-align: top;
    color: orangered;
}

.likes-counter {
    font-size: 18px;
    vertical-align: top;
    margin-left: 9px;
}

.post-date-time {
    font-size: 15px;
    float: right;
    position: relative;
    top: 2px;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: transparent;
    border-top: none;
}

.read-more {
    color: sandybrown;
}

.read-more:hover {
    color: black;
}
/* ------------------------------------------ */