* {
    font-family: 'Inconsolata', monospace;
    color: white;
}

body {
    height: 100vh;
    background: linear-gradient(to right, blueviolet, #4158d0);
}

a {
    color: white;
}

a:hover {
    color: black;
    text-decoration: none;
}

.card { border: none; background: transparent; }

.display-2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.25rem;
  }

/* ----------- nav search bar, btn ------------ */
@media only screen and (min-width: 768px) {
    #search {
        position: relative;
        transition: top 0.2s;
    }
}

form > .textbox {
    outline: 0;
    height: 37px;
    width: 247px;
    line-height: 42px;
    padding: 0 16px;
    background-color:#2c053dfc;
    color: white;
    border: 0;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    margin-top: 1px;
    border-radius: 2.25rem;
}
  
form > .textbox:focus {
    outline: 0;
    background-color: #2c053dfc;
    color: white;
}

form > .button {
    outline: 0;
    background: none;
    background-color: blueviolet;
    float: left;
    height: 39px;
    width: 40px;
    text-align: center;
    line-height: 37px;
    border: 0;
    color: #FFF;
    font-size: 15px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border-radius: 2.25rem;
}
  
form > .button:hover {
    background-color: greenyellow;
}

/* ------------- status card --------------- */
.index-card {
    background:transparent;
    border: none;
}

#status-tab { background-color: transparent; }

#image-tab { background-color: transparent; }

#location-tab { background-color: transparent; }

.material-icons:hover { color: black; }

.status {
    position: absolute;
    box-sizing: border-box;
    top: 28%;
    width: 90%;
    resize: none;
    outline: none;
    font-size: 17px;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    overflow: hidden;
}

.location {
    position: absolute;
    width: 93%;
    bottom: 90px;
}

.btn-dark {
    background: transparent;
    border-radius: 2.25rem;
    color: white;
    border-color: white;
}

.btn-dark:hover {
    color: black;
    background-color: white;
    border-color: white;
}
/* ----------------------------------------- */

.border {
    height: 6px;
    background: white;
}

.index_border {
    width: 100px;
}
/* -------------- post card ---------------- */
.post-card {
    background: cornflowerblue;
    border-radius: 1.00rem;
}

.post_profile_img {
    height: 48px;
    position: relative;
    bottom: 3px;
}

.display-3 {
    font-size: 18px;
}

.card-header {
    background-color: transparent;
    color: white;
    border-bottom: none;
}

.index-post-card-body {
    background-color: transparent; 
    color: white;
    overflow: overlay;
}

.fa-fire-alt {
    font-size: 21px;
    vertical-align: top;
}

.likes-counter {
    font-size: 19px;
    vertical-align: top;
    margin-left: 10px;
}

.post-date-time {
    font-size: 16px;
    float: right;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: transparent;
    border-top: none;
}

.read-more {
    color: sandybrown;
}

.read-more:hover {
    color: black;
}
/* ------------------------------------------ */

/* ----------- input form control ------------ */
.form-control {
    border-radius: 2.25rem;
    background-color: #2c053dfc;
    color: white;
    border: none;
    padding: 0.9rem 1.75rem;
    position: absolute;
    line-height: 1.0;
}
.form-control:focus {
    background-color: #2c053dfc;
    color: white;
    border: none;
}
/* -------------------------------------------- */